# 项目配置文件

# 后端服务端口
BACKEND_PORT=8000

# IDE模块后端服务端口
IDE_MODULE_PORT=8080

# 前端服务端口
FRONTEND_PORT=9000

# 预览服务端口
PREVIEW_PORT=8081

# AI服务配置
OPENAI_API_KEY=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   # 这是曹欣卓的API Key，大家先暂时都用这个好了
OPENAI_API_BASE=https://openrouter.ai/api/v1
OPENAI_MODEL=google/gemma-3-27b-it:free
OPENAI_MAX_TOKENS=1024
OPENAI_TEMPERATURE=0.7